.shop-cnt{
    margin: 0 auto;
    height: 550px;
    /* width: 100px; */
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.shop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    margin-left: 80px;
    margin-right: 80px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}
.shop-menu{
    display: flex;
    justify-content: space-between;
}
.shop-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shop-menu ul{
    display: flex;
    gap: 50px;
    padding-right: 55px;
}
.shop-menu_img{
    padding-right: 30px;
}
.shop-page{
    color: white;
    font-size: 50px;
    margin-top: 60px;
}
.shop-description{
    color: white;
    font-size: 20px;
}
.shop-btn{
    border: none;
    margin-top: 20px;
    height: 55px;
    width: 200px;
    font-size: 20px;
    border-radius: 10px;
}
.shop-bottom{
    text-align: center;
}