.britflex{
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.britflex-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.britflex-menu ul{
    display: flex;
    align-items: center;
    gap: 30px;
}
.britlex-btn{
    width: 180px;
    height: 50px;
    border: 1px solid gray;
    color: gray;
    background-color: white;
}