.hero-page{
    font-size: 40px;
    text-align: center;
}
.hero-description{
    font-size: 18px;
    text-align: center;
}
.hero-card{
    border: none;
    height: 200px;
    width: 510px;
    background-color: rgb(230, 226, 226);
    margin-top: 30px;
    margin-left: 100px;
    padding-left: 10px;
    padding-top: 15px;
    background-image: url(/pages/ferrari.png);
    background-repeat: no-repeat;
    background-position: left 270px top 40px;
}
.hero-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-card p{
    line-height: 25px;
}
.hero-img{
    padding-left: 240px;
    padding-top: -200px;
}
.hero-card2{
    border: none;
    height: 200px;
    width: 510px;
    background-color: rgb(230, 226, 226);
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 100px;
    padding-left: 10px;
    padding-top: 15px;
    background-image: url(/pages/daromad.png);
    background-repeat: no-repeat;
    background-position: left 230px top 25px;
}
.hero-card3{
    border: none;
    height: 200px;
    width: 510px;
    background-color: rgb(230, 226, 226);
    margin-top: 30px;
    margin-left: 97px;
    margin-right: 35px;
    /* padding-left: 10px;
    padding-top: 15px; */
    background-image: url(/pages/bmw.png);
    background-repeat: no-repeat;
    /* background-position: left 230px top 25px; */
}
.hero-card4{
    border: none;
    height: 200px;
    width: 510px;
    background-color: rgb(230, 226, 226);
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 100px;
    padding-left: 10px;
    padding-top: 15px;
    background-image: url(/pages/mersedes-key.png);
    background-repeat: no-repeat;
    background-position: left 290px top 25px;
}
.hero2-menu{
    margin-left: 100px;
    margin-top: 20px;
}
.hero2-cnt{

}
.hero2-pages{
    margin-top: 140px;
    margin-left: 100px;
}
.hero2-img1{
    color: black;
    border-radius: 150px;
    background-color: black;
    padding: 9px;
}
.hero2-menu1{
    display: flex;
    align-items: center;
    gap: 30px;
}
.hero2-menu2{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}
.hero2-menu3{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}
.hero2-image{
    margin-left: 550px;
    margin-top: -350px;
}
